<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="basket">
	<insert id="insertBasket">
	    insert into basket (b_no, h_no, m_id)
        values   (basket_seq.nextval, #{h_no}, #{m_id})
	</insert>
	
	<delete id="deleteBasket">
		delete from basket
		where b_no=#{b_no}
	</delete>
	
	<select id="listBasket" resultType="com.WhereHouse.basket.domain.BasketVO">
		select b_no, h_no, m_id
		from basket
		where b_no=#{b_no}
	</select>
	
</mapper>
