<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="house">
	
	<select id="selectHouseByHno" resultType="com.WhereHouse.house.domain.HouseVO">
		select *
		from house
		where h_no=#{h_no}
	</select>
	<select id="selectHouseGrade" resultType="integer" parameterType="map">
		select count(*)
		from reservation
		where m_id =#{m_id}
		and h_no=#{h_no}
		and r_state=1
		
	</select>

	<insert id="insertHouse">
	    insert into house (h_no, m_id, m_name, m_phone, h_zip, h_address,h_title, h_fare, h_startdate, h_enddate, h_info, h_peoplecnt, 
	           h_type, h_livetype, h_checktime, h_sale, h_salefare, h_rule, h_thumnail, h_pi_x, h_pi_y)
	    values (house_seq.nextval, #{m_id}, #{m_name}, #{m_phone}, #{h_zip}, #{h_address},#{h_title}, #{h_fare}, #{h_startdate}, #{h_enddate}, #{h_info}, #{h_peoplecnt}, 
	           #{h_type}, #{h_livetype}, #{h_checktime}, #{h_sale}, #{h_fare}-(#{h_fare}/#{h_sale}), #{h_rule}, #{h_thumnail}, #{h_pi_x}, #{h_pi_y})                  
	</insert>
	
	<insert id="gradescoreHouse">
		insert into house_grade (h_no, r_no, g_rightscore, g_cleanscore, g_checkscore, g_commuscore)
		values (#{h_no}, (select r_no from reservation where h_no=#{h_no} and m_id=#{m_id}), #{g_rightscore}, #{g_cleanscore}, #{g_checkscore}, #{g_commuscore})
	</insert>
	<update id="updatescoreHouse">
		update house set h_rightscore = h_rightscore+#{g_rightscore}, h_cleanscore = h_cleanscore+#{g_cleanscore}, h_checkscore = h_checkscore+#{g_checkscore}, h_commuscore = h_commuscore+#{g_commuscore}, h_scorecnt=h_scorecnt+1
		where h_no=#{h_no}
	</update>
	<select id="selectNewHouseById" resultType="int">
		select max(h_no)
		from house
		where m_id=#{m_id}
	
	</select>
	<update id="updateHouseDays">
		update house set h_rdays = h_rdays + (#{r_enddate}-#{r_startdate})
		where h_no=#{h_no}
	</update>
</mapper> 
