<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<select id="login" resultType="com.WhereHouse.member.domain.MemberVO">
		select m_no, m_name, m_id from
		member where m_id = #{m_id} and m_pass =
		#{m_pass} and m_dropdate is null
	</select>
	<insert id="registerAccount">
		insert into member (m_id, m_no, m_name, m_pass,
		m_phone, m_regdate)
		values(#{m_id}, member_seq.nextval, #{m_name},
		#{m_pass}, #{m_phone},
		sysdate)
	</insert>
	<select id="findID" resultType="String">
		select m_id from member where
		m_name = #{m_name} and m_phone = #{m_phone}
	</select>
	<select id="findPass" resultType="String">
		select m_id from member where
		m_id = #{m_id}
	</select>
	<update id="updatePass">
		update member set m_pass = #{m_pass} where m_id =
		#{m_id}
	</update>
	<select id="passupdateselect" resultType="String">
		select m_id from member
		where m_id = #{m_id} and m_name = #{m_name} and m_phone = #{m_phone}
	</select>
	<select id="selectAllMember" resultType="member">
		select m_id, m_no,
		m_name, m_pass, m_phone, m_regdate
		from member
	</select>
	<select id="selectHouse" resultType="com.WhereHouse.house.domain.HouseVO">
		select * from house where h_address like '%'||#{h_address}||'%' and h_state = 0 order by h_no desc
	</select>
	<select id="selectnearHouse" resultType="com.WhereHouse.house.domain.HousedistanceVO">
		select h_no, m_id, m_name, m_phone, h_zip, h_address, h_fare, h_startdate, h_enddate,
		 h_info, h_peoplecnt, h_type, h_livetype, h_checktime, h_sale, h_salefare, h_rule,
		  h_thumnail, h_state, h_scorecnt, h_avgscore, h_rightscore, h_cleanscore, h_checkscore,
		   h_commuscore, h_title, h_pi_x, h_pi_y
     	, ROUND(SQRT( POWER(( #{lat} - h_pi_x) * 110979.309, 2)
           + POWER((#{lng} - h_pi_y) *  88907.949, 2)
           ),0) distance
  		from house
        , (select  #{lat} v_x
             ,     #{lng} v_y
             ,  110979.309     r_x
             ,  88907.949     r_y
             ,  3000.000     v_distance
        from dual
        )
        where SQRT( POWER((v_x - h_pi_x) * r_x, 2)
           + POWER((v_y - h_pi_y) * r_y, 2)
           ) &lt;= v_distance
        and h_pi_x BETWEEN v_x - v_distance / r_x and v_x + v_distance / r_x
        and h_pi_y BETWEEN v_y - v_distance / r_y and v_y + v_distance / r_y
        and h_state = 0
        order by distance
	</select>
</mapper>
