<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypage">
	<select id="selectMyBasket" resultType="com.WhereHouse.mypage.domain.MyBasketVO">
		select h.h_no, h.h_fare, h.h_type, h.h_livetype, h.h_thumnail ,b.b_no
		from house h , basket b
		where h.h_no = b.h_no
      		and b.m_id = #{m_id}
      		order by b.b_no asc
	</select>
	
	<delete id="deleteMyBasket">
		delete from basket
		where b_no = #{b_no}
	
	</delete>

	<select id="selectMember" resultType="member">
		select m_id, m_no, m_name, m_phone 
		from  member 
		where m_id = #{m_id}
	</select>
	
	<update id="modifyMember">
	    update member set m_pass=#{m_pass}, m_phone=#{m_phone}
        where m_id=#{m_id}
	</update>
	
	
	<delete id="deleteMember">
        update member set m_dropdate = (sysdate+29)
        where m_id=#{m_id}
	</delete>
	
	<select id="selectHouseById">
	  select h_no, h_thumnail, h_title
	  from house
	  where m_id = #{m_id}
	</select>
	
	<select id="selectReservationById" resultType="com.WhereHouse.mypage.domain.MyReservationVO">
		select r.r_no, h.h_no, r.r_startdate, r.r_enddate, r.r_fare, r.r_peoplecnt, h.h_thumnail, h.m_phone
		from house h, reservation r
		where h.h_no = r.h_no
      		and r.m_id = #{m_id}
	</select>
	
	<select id="selectRegisterById" resultType="com.WhereHouse.mypage.domain.MyRegisterVO">
		select h.h_thumnail, r.m_id, m.m_name, m.m_phone, r.r_startdate, r.r_enddate, r.r_peoplecnt
		from house h, reservation r, member m
		where h.h_no = r.h_no
			and h.m_id = #{m_id}
			and r.m_id = m.m_id
	</select>
	
	<select id="selectEstimateById" resultType="com.WhereHouse.mypage.domain.MyRegisterVO">
		select h.h_thumnail, r.r_startdate, r.r_enddate, r.m_id, m.m_name, r.r_no
		from house h, reservation r, member m
		where h.h_no = r.h_no
			and r.m_id = m.m_id
			and r.m_id = #{m_id}
	</select>
	
	<select id="selectPassword" resultType="int">
	select count(*)
	from member
	where m_id = #{m_id}
		and m_pass = #{m_pass}
	</select>
	
	<update id="modifyScore">
	    update member set m_score= m_score+#{m_score}, m_scorecnt=m_scorecnt+1
        where m_id=#{m_id}
	</update>
	
	<insert id="insertGrade">
	insert into  member_grade(r_no, m_id, g_score)
	values (#{r_no}, #{m_id}, #{g_score})	
	</insert>
	<select id="selectGrade" resultType="int">
		select count(*)
		from member_grade
		where r_no=#{r_no}
	</select>
</mapper>
