<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reservation">
	<insert id="insertReservation">
		insert into reservation(r_no, h_no, m_id, r_startdate, r_enddate, r_fare, r_peoplecnt)
		values (r_no, #{h_no}, #{m_id}, #{r_startdate}, r_enddate, r_fare, r_peoplecnt)
	</insert>
	
	<select id="selectReservationByHno" resultType="com.WhereHouse.reservation.domain.ReservationVO">
		select r_no, m_id, r_startdate, r_enddate, r_fare, r_peoplecnt, r_state, r_sysdate
		from reservation
		where h_no = #{h_no}
	</select>
	<select id="selectReservationDate" resultType="com.WhereHouse.reservation.domain.ReservationDateVO">
		select r_startdate, r_enddate, r_enddate-r_startdate as r_during
		from reservation
		where h_no=#{h_no}
	</select>
	<update id="updateRGradeState">
		update reservation set r_state=2
		where h_no=#{h_no} and m_id=#{m_id}
	</update>

</mapper>
